<header class="mobile-header">
    <div class="header-left-section">
        <div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <rect width="6" height="25" rx="2" fill="#635FC7"/>
            <rect opacity="0.75" x="9" width="6" height="25" rx="2" fill="#635FC7"/>
            <rect opacity="0.5" x="18" width="6" height="25" rx="2" fill="#635FC7"/>
          </svg>
        </div>
        <div class="current-board-button" role="button" tabindex="0" aria-label="Select current board" class="select-current-board">Current Board 
            <svg width="10" height="7" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="Path 3" d="M1 1L5 5L9 1" stroke="#635FC7" stroke-width="2"/>
            </svg>
        </div>
    </div>
    <div class="header-right-section">
        <div class="add-task-button" role="button" tabindex="0" aria-label="Add new task"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
            <path d="M7.368 12V7.344H12V4.632H7.368V0H4.656V4.632H0V7.344H4.656V12H7.368Z" fill="white"/>
          </svg>
        </div>
        <div class="board-options-button" role="button" tabindex="0" aria-label="Board options">
            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="20" viewBox="0 0 5 20" fill="none">
                <circle cx="2.30769" cy="2.30769" r="2.30769" fill="#828FA3"/>
                <circle cx="2.30769" cy="10.0001" r="2.30769" fill="#828FA3"/>
                <circle cx="2.30769" cy="17.6925" r="2.30769" fill="#828FA3"/>
            </svg>
        </div>
    </div>
</header>
<header class="tablet-header">
    <div class="logo">Logo</div>
    <div class="current-board">Current Board</div>
</header>