.dropdown {
  position: relative;
  display: block;

  .dropdown-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .dropdown-list {
    z-index: 100;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    user-select: none;
    transition: background-color var(--medium-transition-speed);
    width: 100%;

    &-item {
      display: block;
    }

    [data-theme="dark"] & {
      background-color: var(--dark-grey);
    }

    // .dropdown-item {
    //   padding: 8px 16px;
    //   cursor: pointer;

    //   &:hover {
    //     background-color: var(--light-grey);
    //   }
    // }
  }
}
