@use "../../../../styles.scss" as *;

app-board-dialog {
  display: block;
  background-color: var(--white);
  border-radius: 8px;
  padding: 24px;
  user-select: none;
  transition: background-color var(--medium-transition-speed);

  @media screen and (max-width: 768px) {
    padding: 32px;
  }

  .board-dialog-title {
    margin: 0 0 24px 0;
    @include font-heading-l;
  }

  .action-button {
    margin-top: 24px;
    height: 2.5rem;
    background-color: var(--main-purple);
    width: 100%;
    border-radius: 20px;
    color: var(--white);
    transition:
      background-color var(--default-transition-speed),
      border-radius var(--default-transition-speed),
      opacity var(--default-transition-speed);

    &:hover:not([disabled]) {
      background-color: var(--main-purple-hover);
      border-radius: 0.75rem;
    }
  }
}
