@use "../node_modules/@angular/cdk/a11y-prebuilt.css";
@use "../node_modules/@angular/cdk/overlay-prebuilt.css";
@use "../node_modules/@angular/cdk/text-field-prebuilt.css";

/* CSS VARIABLES */
:root {
  --main-purple: #635fc7;
  --main-purple-rgba: rgba(99, 95, 199, 0.25);
  --main-purple-hover: #4d47a6;
  --secondary-purple: rgb(239.4, 239, 249.4);
  --secondary-purple-hover: rgb(216, 215, 241);
  --black: #000112;
  --very-dark-grey: #20212c;
  --dark-grey: #2b2c37;
  --lines-dark: #3e3f4e;
  --medium-gray: #828fa3;
  --light-gray: #a8b2bd;
  --lines-light: #e4ebfa;
  --light-grey-light-bg: #f4f7fd;
  --white: #fff;
  --red: #ea5555;
  --red-hover: #d54c4c;
  --checkbox-border-color: rgba(130, 143, 163, 0.249);
  --default-transition-speed: 0.15s;
  --medium-transition-speed: 0.3s;
  --button-default-border-radius: 1.5rem;
  --button-hover-border-radius: 1rem;
  --header-height: 64px;
  @media screen and (min-width: 768px) {
    --header-height: 80px;
  }
  @media screen and (min-width: 1200px) {
    --header-height: 96px;
  }
}

body {
  margin: unset;
}

/* FONTS */
@mixin font-heading-s {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}

@mixin font-heading-m {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin font-heading-l {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  [data-theme="dark"] & {
    color: var(--white);
  }
}

@mixin font-heading-xl {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin font-body-m {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin font-body-l {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

/* GLOBAL CSS */
body {
  font-family: "Plus Jakarta Sans";

  * {
    box-sizing: border-box;
  }
}

/* GLOBAL CSS */
button {
  border: unset;
  background-color: unset;
  padding: unset;
  font-family: inherit;

  &[disabled] {
    opacity: 0.25;
    cursor: not-allowed;
  }
}

/* BUTTON CLASSES */
.button-primary-s,
.button-primary-l,
.button-secondary,
.button-destructive {
  color: var(--white);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition:
    background-color var(--default-transition-speed),
    border-radius var(--default-transition-speed),
    opacity var(--default-transition-speed);
}

.button-primary-s,
.button-secondary,
.button-destructive {
  height: 2.5rem;
  border-radius: 20px;

  &:hover:not([disabled]) {
    border-radius: 0.75rem;
  }
}

.button-primary-s,
.button-primary-l {
  background-color: var(--main-purple);

  &:hover:not([disabled]) {
    background-color: var(--main-purple-hover);
  }
}

.button-primary-l {
  height: 3rem;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;

  &:hover:not([disabled]) {
    border-radius: 1rem;
  }
}

.button-secondary {
  background-color: var(--secondary-purple);
  color: var(--main-purple);

  &:hover:not([disabled]) {
    background-color: var(--secondary-purple-hover);
  }
}

.button-destructive {
  background-color: var(--red);

  &:hover:not([disabled]) {
    background-color: var(--red-hover);
  }
}
