/* COLORS */
:root {
  --main-purple: #635fc7;
  --main-purple-rgba: rgba(99, 95, 199, 0.25);
  --main-purple-hover: #a8a4ff;
  --black: #000112;
  --very-dark-grey: #20212c;
  --dark-grey: #2b2c37;
  --lines-dark: #3e3f4e;
  --medium-gray: #828fa3;
  --lines-light: #e4ebfa;
  --light-grey-light-bg: #f4f7fd;
  --white: #fff;
  --red: #ea5555;
  --red-hover: #ff9898;
  --checkbox-border-color: rgba(130, 143, 163, 0.249);
  --default-transition-speed: 0.15s;
}

[data-theme="dark"] {
  --white: #2b2c37;
  --black: #fff;
  --light-grey-light-bg: #20212C;
}

/* FONTS */
.font-heading-s {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}

.font-heading-m {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.font-heading-l {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.font-heading-xl {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.font-body-m {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.font-body-l {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

/* GLOBAL CSS */
body {
  font-family: "Plus Jakarta Sans";
}
