@use "../../../../styles.scss" as *;

app-input-text {
  display: block;

  .input-text-label {
    display: block;
    margin-bottom: 8px;
    @include font-body-m;
    color: var(--medium-gray);
  }

  input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(130, 143, 163, 0.25);
    background-color: var(--white);
    height: 42px;
    @include font-body-l;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}
